@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }

main{
    background-color: #ec524b;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    background-color: #214252;
    width: 100%;
    padding-bottom: 1.6rem;
    text-align: center;
    font-family: 'Itim', cursive;
    margin-bottom: 2rem;
    color: lavender;
}

#title{
    font-size: 3rem;
    padding: 1.5rem;
}

#subtitle{
    font-size: 2rem;
    font-weight: 100;
    padding: 0.5rem;
}

#img-div{
    padding-top: 2.5rem;
    background-color: #ec524b;
    width: 95%;
    text-align: center;
}
img{
    width:50rem;
}


#tribute{
    margin: 1rem;
    width:100%;
    background-color: #edc988;
    font-family: 'Tajawal', sans-serif;
}

#tribute-info{
    text-align: center;
    padding-top: 1.5rem;
    font-size: 2.2rem;
    font-weight: 500;
    background-color: #ffd57e;
}
#timeline{
    padding-top: 2rem;
    font-size: 1.6rem;
    width: 80%;
     margin: 0 auto;
}
ul{
    list-style-type: none;
}
li{
    margin: 1rem;
    line-height: 1.5em;
    border-bottom: #ec524b 1.6px dotted;
}


