@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
            text-decoration: none;
  }

#main-doc{
    position: relative;
    display: flex;
}

#main-doc #navbar{
    background-color: #ffa45b;
    height: 100%;
    position: fixed;
    width: 14em;
    font-family: 'Space Grotesk', sans-serif;
}

#navbar header{
    font-size: 1.5em;
    padding: 1em 0em 0.9em 2.8em;
    background-color: #ec5858;
}
#navbar header a{
    font-weight: bolder;
    color:#fbf6f0;
}

#navbar .nav-link{
    padding:1.1em 1em;
    font-weight: bold;
    font-size: 1.4em;
    letter-spacing: 0.1em;
}
#navbar ion-icon{
    padding-right: 0.1em;
}

#navbar .nav-link a{
    color: #222831;
}

.nav-link:hover{
    background-color: #fd8c04;
    -webkit-transform: scale(1.04);
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}


#main-doc #main-content{
    margin-left: 14em;
    padding: 2em;
    width: 100%;
    background-color:#ffefa0;
    overflow-x: hidden;
    min-height: 100vh;
}


#home{
    display: flex;
    justify-content: space-between;
    padding: 2em;
    background-color: #321f28;
    border-radius: 10px;
}

#home span{
    font-size: 2.7em;
    font-family: 'Balsamiq Sans', cursive;
    letter-spacing: 0.02em;
    padding-left: 5em;
    color: #f6eec9;
}
#home button{
    padding: 0.9em;
    font-size: 1em;
    font-weight: bold;
    border: none;
    background-color: #01c5c4;
    border-radius: 7px;
}
#home button a{
    color: #000000;
}

#home button:hover{
    background-color: #af2d2d;
}



/* @media only screen and (min-width: 320px) and (max-width: 479px) {
    code
  } */

@media only screen and (min-width: 479px) and (max-width: 979px) {
    #main-doc #navbar{
        width: 8.4em;
    }
    
    #navbar header{
        font-size: 1em;
        padding: 1em 0em 0.9em 2.2em;
        background-color: #ec5858;
    }
   
    
    #navbar .nav-link{
        padding:1.5em 0.1em;
        font-size: 1em;
    }
    
    
    #main-doc #main-content{
        margin-left: 8.4em;
        padding: 1.2em;
    }
}