@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
            text-decoration: none;
  }

#main-doc{
    position: relative;
    display: flex;
}

#main-doc #navbar{
    background-color: #ffa45b;
    height: 100%;
    position: fixed;
    width: 14em;
    font-family: 'Space Grotesk', sans-serif;
}

#navbar header{
    font-size: 1.5em;
    padding: 1em 0em 0.9em 2.8em;
    background-color: #ec5858;
}
#navbar header a{
    font-weight: bolder;
    color:#fbf6f0;
}

#navbar .nav-link{
    padding:1.1em 1em;
    font-weight: bold;
    font-size: 1.4em;
    letter-spacing: 0.1em;
}
#navbar ion-icon{
    padding-right: 0.1em;
}

#navbar .nav-link a{
    color: #222831;
}

.nav-link:hover{
    background-color: #fd8c04;
    -webkit-transform: scale(1.04);
}


#main-doc #main-content{
    margin-left: 14em;
    padding: 2em;
    width: 100%;
    background-color: #e6d5b8;
    overflow-x: hidden;
}

/* zero-md p{
    font-size: 4em;
} */