*{
        margin: 0;
        padding: 0;
        list-style: none;
        text-decoration: none;
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
         box-sizing: border-box;
         scroll-behavior:smooth;
      
    background-color: blanchedalmond;
}

#container{
    display: grid;
    width: 15rem;
    margin-top: 3rem;
    grid-template-columns: repeat(5,1fr);
    grid-gap: 0.5rem;
}
#display{
    grid-column:1/6;
    background-color: burlywood;
    height: 1.5rem;
}

#equal-btn{
    grid-row:4/6;
    grid-column:5;
}