@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
     box-sizing: border-box;
     scroll-behavior:smooth;
     font-family: 'Yusei Magic', sans-serif;
     letter-spacing: 0.06em;
    }

body{
    background: linear-gradient(to right, #556270, #ff6b6b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

:root{
    --grid-row-column: 7;
}

header{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 2rem;
    color: #351f39;
}

p{
    padding-bottom: 0.5rem;
}

h1{
    font-size: 3rem;
}

#container{
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(var(--grid-row-column),1fr);
    grid-template-rows: repeat(var(--grid-row-column),1fr);
    width: 25rem;
    height: 35rem;
    background-color: white;
    cursor: crosshair;
	background: #F8F8F8; 
	border: solid #BDBDBD 1px; 
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
}

.my-slider {
    -webkit-appearance: none;
    background: #351f39  ;
    width: 25rem;
    height: 3px;
    outline: none;
}

.my-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    cursor: pointer;
    background: #f9f7cf  ;
    width: 5%;
    height: 20px;
    border-radius: 100%;
}

.square{
    border:0.1px solid rgb(211, 202, 193);
}

#clear{
    display: block;
    width: 4rem;
    height: 2rem;
    margin: 1.5rem auto;
    border-radius: 5px;
    outline: none;
}











/* input:valid {
    border: 2px solid black;
  }

  input:invalid:required {
    background-image: linear-gradient(to right, pink, lightgreen);
  } */


/* #container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-start;
    border: 1px solid red;
    max-width: 20rem;
    max-height: 20rem;
    margin: 1rem;
} */












  /* 
body{
    background-color: teal;
}

:root{
    --columns-row:12;
}


#container{
    display: inline-grid;
    border: gainsboro 1px solid;
    grid-template-columns: repeat(var(--columns-row), 1fr );
    grid-template-rows: repeat(var(--columns-row), 1fr );
}



.square{
    background-color: blue;
    width: 2rem;
    height: 2rem;
    border: salmon 1px dotted;
}

.square2{
    background-color: green;
    width: 2rem;
    height: 2rem;
    border: salmon 1px dotted;
}
 */

/* .square{
    background-color: red;
    width: 2rem;
    height: 2rem;
} */