* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
     box-sizing: border-box;
     scroll-behavior:smooth;
  }

body{
    background-color: burlywood;
}

:root{
    --grid-row-column: 7;
    --grid-color:rgb(31, 46, 40);
}

#container{
    display: inline-grid;
    margin: 1rem;
    grid-template-columns: repeat(var(--grid-row-column),1fr);
    grid-template-rows: repeat(var(--grid-row-column),1fr);
}

.square{
    border:0.1px solid rgb(134, 73, 24);
    width: 0.4rem;
    height: 0.4rem;
}







/* #container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-start;
    border: 1px solid red;
    max-width: 20rem;
    max-height: 20rem;
    margin: 1rem;
} */












  /* 
body{
    background-color: teal;
}

:root{
    --columns-row:12;
}


#container{
    display: inline-grid;
    border: gainsboro 1px solid;
    grid-template-columns: repeat(var(--columns-row), 1fr );
    grid-template-rows: repeat(var(--columns-row), 1fr );
}



.square{
    background-color: blue;
    width: 2rem;
    height: 2rem;
    border: salmon 1px dotted;
}

.square2{
    background-color: green;
    width: 2rem;
    height: 2rem;
    border: salmon 1px dotted;
}
 */

/* .square{
    background-color: red;
    width: 2rem;
    height: 2rem;
} */