* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
     box-sizing: border-box;
     scroll-behavior:smooth;
  }

body{
    background-color: burlywood;
}

:root{
    --grid-row-column: 7;
    /* --grid-color:rgb(31, 46, 40); */
}

#container{
    display: grid;
    margin: 1rem;
    grid-template-columns: repeat(var(--grid-row-column),1fr);
    grid-template-rows: repeat(var(--grid-row-column),1fr);
    /* border:1px solid rgb(17, 5, 82); */
    width: 25rem;
    height: 35rem;
    background-color: whitesmoke;
    cursor: crosshair;
}

.range-slider{
    width: 50%;
}

.my-slider {
    -webkit-appearance: none;
    background: #FCF3CF  ;
    width: 50%;
    height: 20px;
    opacity: 2;
}

.my-slider:hover {
    opacity: 1;
}


.my-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    cursor: pointer;
    background: #34495E  ;
    width: 5%;
    height: 20px;
}





.square{
    border:0.5px solid rgb(211, 202, 193);
    /* border-radius: 10%; */
}













/* input:valid {
    border: 2px solid black;
  }

  input:invalid:required {
    background-image: linear-gradient(to right, pink, lightgreen);
  } */


/* #container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-start;
    border: 1px solid red;
    max-width: 20rem;
    max-height: 20rem;
    margin: 1rem;
} */












  /* 
body{
    background-color: teal;
}

:root{
    --columns-row:12;
}


#container{
    display: inline-grid;
    border: gainsboro 1px solid;
    grid-template-columns: repeat(var(--columns-row), 1fr );
    grid-template-rows: repeat(var(--columns-row), 1fr );
}



.square{
    background-color: blue;
    width: 2rem;
    height: 2rem;
    border: salmon 1px dotted;
}

.square2{
    background-color: green;
    width: 2rem;
    height: 2rem;
    border: salmon 1px dotted;
}
 */

/* .square{
    background-color: red;
    width: 2rem;
    height: 2rem;
} */