alias c="clear"

alias gac="git add * && git commit -a -m "
mkcd () {
  mkdir "$1"
  cd "$1"
}
alias h="history"

alias G="gedit"

alias up="sudo eopkg up"

alias rmo="sudo eopkg rmo"

alias solus="cd Workspace/dotFiles/Solus && ./solus-install.sh"

alias code="code-oss"