@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');
/* normalise */
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }

body{
    background-color: #e6d5b8;
    font-family: 'Space Grotesk', sans-serif;
    color: #31112c;
    /* experiment */
    /* width: 100%; */
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}


/* nav bar */
#header{
      display: flex;
      justify-content: space-between;
      background-color: #f05454;
      position: fixed;
      top: 0;
      width: 100%;
  }

#header-img{
      width: 8rem;
  }
#nav-bar{
    padding: 1rem 0;
}

.nav-link{
    display: inline;
    margin-right: 6rem;
}
a{
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: bold;
    color: white ;
}

/* form */

#form{
    font-size: 1.8rem;
    width: 60%;
    margin: 0 auto;
    text-align: center;
    margin-top: 5rem;
}
#title{
    margin-bottom: 1.2rem;
}

#subtitle{
    margin-bottom: 1rem;
}

#email{
    width: 40%;
    margin-bottom: 1rem;
    height: 2.7rem;
}


input[type=email] {
    padding:5px; 
    border:2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
}

input[type=email]:focus {
    border-color:#333;
}

input[type=submit] {
    padding:5px 15px; 
    background:#f05454; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    height: 2.7rem;
    color: white;
    font-weight: bolder;
}

/*  */

#container{
    margin: 0 auto;
    display: grid;
    margin-top: 6rem;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 10% 90%;
    width: 40%;
    grid-column-gap: 2.8rem;
    padding-top: 1rem;
    font-size: 1.3rem;
    margin-bottom: 2rem;
}
#icons{
    grid-row: 1/5;
}

.svg{
    width:75%;
    display: block;
    margin: 0 0 6rem 1em;
}

#video{
    display: block;
    width:40%;
    margin: 0 auto;
    margin-bottom: 5rem;
    border-radius: 10%;
    outline: 0px;

}

/*  */

#container2{
    display: flex;
    width: 68%;
    margin: 0 auto;

}
.box{
    text-align: center;
    border: 1px solid #f6830f;
    margin: 1rem;
    padding-bottom: 1rem;
}

.box-heading{
    font-weight: bolder;
    background-color: #f6830f;
    padding: 1rem;
    font-size: 1.5em;
}

.box-main{
    padding: 1rem;
}

.button{
    width: 30%;
    padding: 0.6rem;
    font-size: 1.1rem;
    font-weight: bolder;
    background-color: #f05454;
    color:white;
    border-radius: 5%;
    cursor: pointer;
}

/*  */

footer{
    display: flex;
    background-color: black;
    color: white;
    justify-content: space-between;
    padding: 0.6rem;
    font-size: 1rem;
    margin-top: 1.7rem;
}

 footer li{
     display: inline;
     margin-left: 1.7rem;
 }

 footer div{
     margin-right: 3rem;
 }


 @media only screen and (min-width: 320px) and (max-width: 479px) {
  #header-img{
      height: 2.5rem;
        width: 4.9rem;
    }
  #nav-bar{
      padding: 0.5rem 0;
  }
  
  .nav-link{
      padding: 0.5rem;
      margin-right: 0.6rem;
  }
  
  a{
      font-size: 1.2rem;
  }
    
    /* ********* */
    
    #form{
        font-size: 1.2rem;
        width: 80%;
        margin-top: 4rem;
    }

    #subtitle{
        margin-bottom: 2.1rem;
    }
    
    #email{
        width: 60%;
        height: 2rem;
    }
    input[type=submit] {
        padding:5px 15px; 
        height: 2rem;
        margin-left: 0.5rem;
    }
    
    /* **************** */
    #container{
        margin-top: 3rem;
        width: 90%;
        /* grid-column-gap: 2.8rem; */
        /* padding-top: 1rem; */
        font-size: 1rem;
        /* margin-bottom: 2rem; */
    }
    
    .svg{
        width:100%;
        margin: 0 0 4rem 1rem;
    }
    /* ************ */
    #video{
        width:75%;
    }

    /* ********* */
    #container2{
        width: 100%;
    }
    .box{
        border: 0.5px solid #f6830f;
        margin: 0.3rem;
        padding-bottom: 0.6rem;
    }
    .box-heading{
        padding: 0.3rem;
        font-size: 0.9em;
    }
    .box-main{
        padding: 0.7rem 0.7rem;
        font-size: 0.8rem;
    }
    .button{
        width: 70%;
        padding: 0.3rem;
        font-size: 0.8rem;
        border: 0 none;
    }

/* **************** */
footer{
    padding: 0.2rem;
    font-size: 0.7rem;
}

 footer div{
     margin-right: 1rem;
 }

  }

/* @media only screen and (min-width: 479px) and (max-width: 979px) {
   
} */